@model LineViewModel

<form method="post" asp-controller="Line" asp-action="GetLines">
    <div class="row">
        <div class="col-9">
            <div class="mb-3 p-2" style="border-radius: 5px; border: 1px solid rgba(0,0,0,.125);">
                <div class="row">
                    <div class="col-8">
                        <div style="display: inline">
                            @if (Model.subCatalogId != 0)
                            {
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a asp-controller="Home" asp-action="Index">Каталог</a>
                                        </li>
                                        <li class="breadcrumb-item active">
                                            <a asp-controller="Line" asp-action="GetLines">Леска</a>
                                        </li>
                                        @if (Model.subCatalogId == 1)
                                        {
                                            <li class="breadcrumb-item active" aria-current="page">
                                                <a asp-controller="Line" asp-action="GetLines" asp-route-subCatalogId="1">Плетеные шнуры</a>
                                            </li>

                                        }
                                        else if (Model.subCatalogId == 2)
                                        {
                                            <li class="breadcrumb-item active" aria-current="page">
                                                <a asp-controller="Line" asp-action="GetLines" asp-route-subCatalogId="2">Монофильная леска</a>
                                            </li>

                                        }
                                    </ol>
                                </nav>
                            }
                            else
                            {
                                <a class="btn btn-secondary btn-sm" asp-action="GetLines" asp-route-subCatalogId="1" role="button">Плетеные шнуры</a>
                                <a class="btn btn-secondary btn-sm" asp-action="GetLines" asp-route-subCatalogId="2" role="button">Монофильная леска</a>
                            }
                        </div>
                    </div>
                    <div class="col-4">
                        @*
                            <div>
                                <form id="SortForm" method="post" asp-controller="Line" asp-action="GetLines" asp-route-subCatalogId="@Model.subCatalogId">
                                    <!--<select asp-items="Model.Countries" onchange="callChangefunc(this.value, @Model.subCatalogId)"></select>-->
                                    <select id="sort" asp-items="Model.Countries" onchange="this.form.submit(this.value)"></select>
                                </form>
                            </div>
                        *@
                        <div>
                            @Html.DropDownListFor(x => @Model.selectedValue, @Model.sortName, new { @onchange = "this.form.submit()", @class = "btn btn-secondary btn-sm dropdown-toggle" }) @* @onchange = "document.location.href = '/Line/GetLines?selectedValue=' + this.value + '&subCatalogId=' + this.Model.subCatalogId;"           this.form.submit()*@
                            @Html.HiddenFor(x => @Model.subCatalogId)
                            @Html.HiddenFor(x => @Model.Unwinding_30)
                            @Html.HiddenFor(x => @Model.Unwinding_100)
                            @Html.HiddenFor(x => @Model.Unwinding_130)
                            @Html.HiddenFor(x => @Model.Unwinding_150)
                            @Html.HiddenFor(x => @Model.china)
                            @Html.HiddenFor(x => @Model.japan)
                            @Html.HiddenFor(x => @Model.green)
                            @Html.HiddenFor(x => @Model.darkGreen)
                            @Html.HiddenFor(x => @Model.lightGreen)
                            @Html.HiddenFor(x => @Model.orange)
                            @Html.HiddenFor(x => @Model.pink)
                            @Html.HiddenFor(x => @Model.transparent)
                            @Html.HiddenFor(x => @Model.priceFrom)
                            @Html.HiddenFor(x => @Model.priceTo)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-9">
        @{
            foreach (Line line in ViewBag.lines)
            {
                <partial name="_LineCard" model="line" />
            }
        }
    </div>
    <div class="col-3">
        @await Html.PartialAsync("_LineFilter")
    </div>
</div>




@*
    <script>
        function callChangefunc(val, subCatalogId) {
            //$('#SortForm').submit(val);
            window.location.href = "/Line/GetLines?sort=" + val + "&subCatalogId=" + subCatalogId;
        }
    </script>
*@