@model RegisterViewModel

<form data-ajax="true" data-ajax-method="post" >
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user"></i>&nbsp&nbspРегистрация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
    </div>
    <div class="modal-body" id="test">
        <div class="form-horizontal">
            <div class="col">
                @Html.LabelFor(model => model.User.Name, "Имя", htmlAttributes: new { @class = "form-label" })<font color="red">&nbsp*</font>
                @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.User.Patronymic, "Отчество", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.User.Patronymic, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.User.LastName, "Фамилия", htmlAttributes: new { @class = "form-label" })<font color="red">&nbsp*</font>
                @Html.EditorFor(model => model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.User.Phone, "Телефон", htmlAttributes: new { @class = "form-label" })<font color="red">&nbsp*</font>
                <div class="input-group">
                    <font class="input-group-text" color="#D0D3D4">+7</font>
                    @Html.EditorFor(model => model.User.Phone, new { htmlAttributes = new { @class = "form-control", @pattern = "[(]{1}[0-9]{3}[)]{1}[ ]{1}[0-9]{3}[-]{1}[0-9]{2}[-]{1}[0-9]{2}", @onKeyup = "phonenumber(this)" } })
                    @Html.ValidationMessageFor(model => model.User.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col">
                @Html.LabelFor(model => model.User.Email, "Email", htmlAttributes: new { @class = "form-label" })<font color="red">&nbsp*</font>
                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.Password, "Пароль", htmlAttributes: new { @class = "form-label" })<font color="red">&nbsp*</font>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.ConfirmPassword, "Подтвердите пароль", htmlAttributes: new { @class = "form-label" })<font color="red">&nbsp*</font>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col">
            <button type="submit" class="btn btn-primary" id="submitRegister">Регистрация</button>
        </div>
    </div>
</form>



    <script>
    $('#submitRegister').click(function () {
        var url = '@Url.Action("Register", "Admin")';
        var User = {
            Name: $('#@Html.IdFor(m=>m.User.Name)').val(),
            Patronymic: $('#@Html.IdFor(m=>m.User.Patronymic)').val(),
            LastName: $('#@Html.IdFor(m=>m.User.LastName)').val(),
            Phone: $('#@Html.IdFor(m=>m.User.Phone)').val(),
            Email: $('#@Html.IdFor(m=>m.User.Email)').val()
        }

        var registerViewModel = {
            "User": User,
            "Password": $('#@Html.IdFor(m=>m.Password)').val(),
            "ConfirmPassword": $('#@Html.IdFor(m=>m.ConfirmPassword)').val()
        }

        $.ajax({
            url: url,
            type: 'post',
            data: registerViewModel,
            //datatype: "json",
            //cache: false,
            //data: { "data": $("input[name='data']").val() },
            statusCode: {                
                400: function () {
                    alert("Пользователь с таким телефоном или Emali уже зарегистрирован!");
                },
                204: function () {  //NoContent()
                    //alert("Заполните все поля");
                },
                200: function () {
                    $('.modal').remove();
                    $('.modal-backdrop').remove();

                    //$("#myModal").removeClass('fade').modal('hide');
                    //$("#myModal").modal("dispose");
                }
            }


            //error: function () {
            //    $("#Text1").val("");
             //   alert("Пользователь с таким телефоном или Emali уже зврегистрирован!");

            //},
            //dataFilter: function() {    //NoContent()
                //$("#Text1").val("");
                //alert("Заполните все поля");
            //},
            //success: function () {
            //    $("#Text1").val("");
             //   alert("pass successfully!");

            //}
        });
    });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>




    @*
        <form class="row g-3 p-1" asp-controller="Admin" asp-action="Register" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user"></i>&nbsp&nbspРегистрация</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="col">
                        <label asp-for="User.Name" class="form-label">Имя <font color="red">*</font></label>
                        <input asp-for="User.Name" class="form-control" id="inputName" />
                        <span asp-validation-for="User.Name" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="User.Patronymic" class="form-label">Отчество</label>
                        <input asp-for="User.Patronymic" type="text" class="form-control" id="inputPatronymic" />
                    </div>
                    <div class="col">
                        <label asp-for="User.LastName" class="form-label">Фамилия <font color="red">*</font></label>
                        <input asp-for="User.LastName" type="text" class="form-control" id="inputLastName" />
                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="User.Phone" class="form-label">Телефон <font color="red">*</font></label>
                        <div class="input-group">
                            <font class="input-group-text" color="#D0D3D4">+7</font>
                            <input asp-for="User.Phone" type="tel" class="form-control" id="inputPhone" maxlength="15" pattern="[(]{1}[0-9]{3}[)]{1}[ ]{1}[0-9]{3}[-]{1}[0-9]{2}[-]{1}[0-9]{2}" onKeyup="phonenumber(this)" />
                            <span asp-validation-for="User.Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <label asp-for="User.Email" class="form-label">Email <font color="red">*</font></label>
                        <input asp-for="User.Email" type="email" class="form-control" id="inputEmail" value="1@mail.ru" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Password" class="form-label">Пароль <font color="red">*</font></label>
                        <input asp-for="Password" type="password" class="form-control" id="inputPassword" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="ConfirmPassword" class="form-label">Подтвердите пароль <font color="red">*</font></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="inputPassword2" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col">
                    <button type="submit" class="btn btn-primary" >Регистрация</button>
                </div>
            </div>
        </form>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    *@
