@model Cart

<div>
    <form asp-action="UpdateShopingCart" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ShopingCart">
        <img src="~/images/shopping-cart.png" />
        <span>@Model.Ammount</span>
    </form>
</div>



@*
    <div>
        <h4>Cart</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Ammount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Ammount)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Text)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Text)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
*@