@model IEnumerable<ShopCartItem>

<div id="modal-container" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>


@if (Model == null)
{
    <div style="margin-top: 20px; margin-bottom: 400px; font: normal 100%/2.1 PT Sans,Arial,sans-serif; font-size: 20px;">
        <h4>
            В Вашей корзине пока нет товаров.
        </h4>
        <a asp-controller="Home" asp-action="Index">Перейти к покупкам.</a>
    </div>
}
else
{
    
        <h3><em>Ваша корзина</em></h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(x => x.Product.ProductId)</th>
                    <th>@Html.DisplayNameFor(x => x.Product.Name)</th>
                    <th>@Html.DisplayNameFor(x => x.Product.Price)</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Img)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @*<a class="btn btn-success" asp-action="VerificationDeleteToCart" asp-controller="ShopCart" asp-route-id="@item.Product.ProductId" data-bs-target="#modal-container" data-bs-toggle="modal">Добавить в корзину</a>*@

                        <a class="btn btn-danger" asp-action="VerificationDeleteToCart" asp-controller="ShopCart" asp-route-ProductId="@item.Product.ProductId" data-bs-target="#modal-container" data-bs-toggle="modal">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>

                        @*<a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteProduct" asp-action="VerificationDelteToCart" asp-controller="ShopCart" asp-route-id="@item.Product.ProductId">
            Delete
        </a>*@

                    </td>
                        </tr>
                         }
                    </tbody>
                </table>

        }
