@model IEnumerable<ShopCartItem>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">@Html.DisplayNameFor(x => x.Product.Name)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.Price)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.Quantity)</th>
            <th scope="col">Сумма</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((value, i) => (value, i)))
        {
            <tr>
                <td>@(item.i + 1)</td>
                <td>
                    <div class="imgcart">
                        <img src="@item.value.Product.Img" />
                    </div>
                </td>
                <td>@Html.HiddenFor(modelItem => item.value.Product.ProductId)</td>
                <td>@Html.DisplayFor(modelItem => item.value.Product.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.value.Price)</td>
                <td>
                    <div class="def-number-input number-input safari_only">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus" asp-controller="ShopCart" asp-action="UpdateCard"></button>
                        <input id="quantity" name="quantity" class="quantity" min="1" value=@item.value.Quantity.ToString() type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" asp-controller="ShopCart" asp-action="UpdateCard"></button>
                    </div>
                </td>
                <td>
                    <p>@((item.value.Quantity * item.value.Price).ToString("C", new System.Globalization.CultureInfo("ru-RU")))</p>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="VerificationDeleteToCart" asp-controller="ShopCart" asp-route-ProductId="@item.value.Product.ProductId" data-bs-target="#modal-container" data-bs-toggle="modal">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right"><b>Итого:</b></td>
            <td><b>@Model.Sum(x => x.Quantity*x.Price) ₽</b></td>
            <td></td>
        </tr>
    </tbody>
</table>


<style>
    .imgcart {
        height: 100px;
        width: 100px;
    }

        .imgcart img {
            max-width: 100%;
            max-height: 100%;
        }
</style>
