@model ProductViewModel

<form asp-controller="Reel" asp-action="Index" asp-route-subCatalogId="@Model.subCatalogId" asp-route-reelFilter="@Model.reelFilter" asp-route-selectedValue="@Model.selectedValue">
    <div class="row">
        <div class="col-9">
            <div class="mb-3 p-2" style="border-radius: 5px; border: 1px solid rgba(0,0,0,.125);">
                <div class="row">
                    <div class="col-8">
                        <div style="display: inline">
                            @if (Model.subCatalogId != 0)
                            {
                                <a asp-controller="Home" asp-action="Index">Каталог</a>
                                <span> - </span>
                                <a asp-controller="Reel" asp-action="Index">Катушки</a>
                                <span> - </span>
                                @if (Model.subCatalogId == 5)
                                {
                                    <a asp-controller="Reel" asp-action="Index" asp-route-subCatalogId="5">Инерционные катушки</a>
                                }
                            }
                            else
                            {
                                <a class="btn btn-secondary btn-sm" asp-action="Index" asp-route-subCatalogId="5" role="button">Инерционные катушки</a>
                            }
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            @Html.DropDownListFor(x => @Model.selectedValue, @Model.sortName, new { @onchange = "this.form.submit()" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-9">
        @{
            foreach (Reel reel in ViewBag.reels)
            {
                <partial name="_ReelCard" model="reel" />
            }
         }
    </div>
    <div class="col-3">
        @await Html.PartialAsync("_ReelFilter")
    </div>
</div>
